<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>{{title}}</title>
    </head>
    <body>
        <h1>Home</h1>
        <p>Hi,
            {{username|length}}</p>
        {%if username =="grewge"-%}
            <h1>{{username}}</h1>
        {%-else-%}
        Hello World
        {%-endif%}
    </body>
</html>