<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>{{title}}</title>
    </head>
    <body>
        <h1>Home</h1>
        <p>Hi, {{username}}</p>
        {%- for char in username%}
        <h1>{{char}}</h1>
        {% endfor %}
        <h1>Hello, {%if username=="sus"-%}
            <h1>{{username}}</h1>
        {%-elif username=="Ugric"-%}
            Master
        {%-elseif username=="Oli"-%}
            sussy baka
        {%-else-%}
        Mortal
        {%-endif%}</h1>
    </body>
</html>